.navbar {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(181, 71, 185, 0.705)), to(rgba(21, 24, 212, 0.219))), url(../images/bosque.jpg);
  background-image: -webkit-linear-gradient(right, rgba(181, 71, 185, 0.705), rgba(21, 24, 212, 0.219)), url(../images/bosque.jpg);
  background-image: -o-linear-gradient(right, rgba(181, 71, 185, 0.705), rgba(21, 24, 212, 0.219)), url(../images/bosque.jpg);
  background-image: linear-gradient(to left, rgba(181, 71, 185, 0.705), rgba(21, 24, 212, 0.219)), url(../images/bosque.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat; }
  .navbar-logo {
    position: relative;
    color: #FFFFFF;
    padding: 20px;
    border: 2px solid #FFFFFF;
    border-bottom: 0; }
    .navbar-logo__title {
      font-size: 4em;
      letter-spacing: 10px; }
    .navbar-logo__subtitle {
      position: relative;
      top: 29px;
      color: #FFFFFF; }
      .navbar-logo__subtitle::before, .navbar-logo__subtitle::after {
        content: '';
        position: absolute;
        width: 43px;
        height: 2px;
        background-color: currentColor;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
      .navbar-logo__subtitle::before {
        left: 150px; }
      .navbar-logo__subtitle::after {
        right: 150px; }
  .navbar-flecha {
    color: #FFFFFF;
    margin-bottom: 15px;
    cursor: pointer; }

@media only screen and (min-width: 768px) {
  .navbar {
    padding: 15% 9.2% 0 9.2% !important;
    line-height: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); } }
