.banner {
  margin: 0; }
  @media screen and (min-width: 768px) {
    .banner {
      padding: 0 9.3%; } }
  .banner-content {
    background-color: #FFFFFF;
    padding: 30px; }
    @media screen and (min-width: 768px) {
      .banner-content {
        -webkit-box-shadow: 0px -7px 143px -9px rgba(0, 0, 0, 0.48);
        box-shadow: 0px -7px 143px -9px rgba(0, 0, 0, 0.48); } }
    @media only screen and (min-width: 1024px) {
      .banner-content {
        height: 25vh; } }
  .banner__subtitle {
    display: inline-block;
    position: relative;
    font-size: .7em;
    margin-bottom: 15px;
    color: #263238; }
    .banner__subtitle::after, .banner__subtitle::before {
      content: '';
      position: absolute;
      width: 50px;
      height: 2px;
      background-color: currentColor;
      top: 0.6em; }
    .banner__subtitle::before {
      left: 130px; }
    .banner__subtitle::after {
      right: 130px; }
  .banner__button {
    margin: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
