.grid1 {
  margin: 0; }
  @media only screen and (min-width: 768px) {
    .grid1 {
      padding: 0 10%; } }
  .grid1__cards {
    padding: 20px;
    margin: 0;
    background-image: url(../images/grid.jpg);
    background-position: center center;
    background-size: cover; }
    @media only screen and (min-width: 768px) {
      .grid1__cards {
        -webkit-box-shadow: 0px -7px 143px -9px rgba(0, 0, 0, 0.48);
        box-shadow: 0px -7px 143px -9px rgba(0, 0, 0, 0.48); } }
    .grid1__cards-content {
      margin: 5px 0; }
  .grid1-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: black;
    color: #FFFFFF; }
