.navbar {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(181, 71, 185, 0.705)), to(rgba(21, 24, 212, 0.219))), url(../images/bosque.jpg);
  background-image: -webkit-linear-gradient(right, rgba(181, 71, 185, 0.705), rgba(21, 24, 212, 0.219)), url(../images/bosque.jpg);
  background-image: -o-linear-gradient(right, rgba(181, 71, 185, 0.705), rgba(21, 24, 212, 0.219)), url(../images/bosque.jpg);
  background-image: linear-gradient(to left, rgba(181, 71, 185, 0.705), rgba(21, 24, 212, 0.219)), url(../images/bosque.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat; }
  .navbar-logo {
    position: relative;
    color: #FFFFFF;
    padding: 20px;
    border: 2px solid #FFFFFF;
    border-bottom: 0; }
    .navbar-logo__title {
      font-size: 4em;
      letter-spacing: 10px; }
    .navbar-logo__subtitle {
      position: relative;
      top: 29px;
      color: #FFFFFF; }
      .navbar-logo__subtitle::before, .navbar-logo__subtitle::after {
        content: '';
        position: absolute;
        width: 43px;
        height: 2px;
        background-color: currentColor;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
      .navbar-logo__subtitle::before {
        left: 150px; }
      .navbar-logo__subtitle::after {
        right: 150px; }
  .navbar-flecha {
    color: #FFFFFF;
    margin-bottom: 15px;
    cursor: pointer; }

@media only screen and (min-width: 768px) {
  .navbar {
    padding: 15% 9.2% 0 9.2% !important;
    line-height: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); } }

.banner {
  margin: 0; }
  @media screen and (min-width: 768px) {
    .banner {
      padding: 0 10%; } }
  .banner-content {
    background-color: #FFFFFF;
    padding: 30px; }
    @media screen and (min-width: 768px) {
      .banner-content {
        -webkit-box-shadow: 0px -7px 143px -9px rgba(0, 0, 0, 0.48);
        box-shadow: 0px -7px 143px -9px rgba(0, 0, 0, 0.48); } }
    @media only screen and (min-width: 1024px) {
      .banner-content {
        height: 25vh; } }
  .banner__subtitle {
    display: inline-block;
    position: relative;
    font-size: .7em;
    margin-bottom: 15px;
    color: #263238; }
    .banner__subtitle::after, .banner__subtitle::before {
      content: '';
      position: absolute;
      width: 50px;
      height: 2px;
      background-color: currentColor;
      top: 0.6em; }
    .banner__subtitle::before {
      left: 130px; }
    .banner__subtitle::after {
      right: 130px; }
  .banner__button {
    margin: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

.grid1 {
  margin: 0; }
  @media only screen and (min-width: 768px) {
    .grid1 {
      padding: 0 10%; } }
  .grid1__cards {
    padding: 20px;
    margin: 0;
    background-image: url(../images/grid.jpg);
    background-position: center center;
    background-size: cover; }
    @media only screen and (min-width: 768px) {
      .grid1__cards {
        -webkit-box-shadow: 0px -7px 143px -9px rgba(0, 0, 0, 0.48);
        box-shadow: 0px -7px 143px -9px rgba(0, 0, 0, 0.48); } }
    .grid1__cards-content {
      margin: 5px 0; }
  .grid1-logo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background-color: black;
    color: #FFFFFF; }

.banner-desk {
  background-color: #FFFFFF;
  margin: 0; }
  @media only screen and (min-width: 768px) {
    .banner-desk {
      padding: 0 10%; } }
  .banner-desk__img {
    min-height: 360px;
    background-image: url(../images/desktop.jpg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat; }
  .banner-desk__content {
    padding: 20px 10px;
    margin: 0; }
    @media only screen and (min-width: 768px) {
      .banner-desk__content {
        padding: 0;
        -webkit-box-shadow: 0px -7px 143px -9px rgba(0, 0, 0, 0.48);
        box-shadow: 0px -7px 143px -9px rgba(0, 0, 0, 0.48); } }
  .banner-desk-text {
    padding: 30px; }
  .banner-desk__title {
    display: inline-block;
    position: relative;
    font-size: 1.2em;
    padding-bottom: 15px;
    color: #263238; }
    .banner-desk__title::before {
      content: '';
      position: absolute;
      width: 50px;
      height: 1px;
      background-color: currentColor;
      top: 25px; }

.banner-black {
  margin: 0; }
  @media only screen and (min-width: 768px) {
    .banner-black {
      padding: 0 10%; } }
  .banner-black__content {
    padding: 20px;
    margin: 0;
    background-color: black; }
    @media only screen and (min-width: 768px) {
      .banner-black__content {
        -webkit-box-shadow: 0px -7px 143px -9px rgba(0, 0, 0, 0.48);
        box-shadow: 0px -7px 143px -9px rgba(0, 0, 0, 0.48); } }
  .banner-black_item {
    padding: 10px 0;
    margin: 5px 0;
    color: white; }
  .banner-black .counter {
    font-size: 1.2em; }

.services {
  margin: 0; }
  @media only screen and (min-width: 768px) {
    .services {
      padding: 0 10%; } }
  .services__content {
    padding: 20px 10px;
    margin: 0; }
    @media only screen and (min-width: 768px) {
      .services__content {
        -webkit-box-shadow: 0px -7px 143px -9px rgba(0, 0, 0, 0.48);
        box-shadow: 0px -7px 143px -9px rgba(0, 0, 0, 0.48); } }
    .services__content-card {
      margin: 1px 0; }
  .services-photography, .services-desing, .services-planning {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-height: 300px;
    width: 100%;
    background-position: center center;
    background-size: cover;
    color: #FFFFFF; }
  .services-photography {
    background-image: -webkit-gradient(linear, right top, left top, from(rgba(181, 71, 185, 0.911)), to(rgba(21, 24, 212, 0.219))), url(../images/fotografia.jpg);
    background-image: -webkit-linear-gradient(right, rgba(181, 71, 185, 0.911), rgba(21, 24, 212, 0.219)), url(../images/fotografia.jpg);
    background-image: -o-linear-gradient(right, rgba(181, 71, 185, 0.911), rgba(21, 24, 212, 0.219)), url(../images/fotografia.jpg);
    background-image: linear-gradient(to left, rgba(181, 71, 185, 0.911), rgba(21, 24, 212, 0.219)), url(../images/fotografia.jpg); }
  .services-desing {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(181, 71, 185, 0.911)), to(rgba(17, 20, 177, 0.678))), url(../images/desing.jpg);
    background-image: -webkit-linear-gradient(top, rgba(181, 71, 185, 0.911), rgba(17, 20, 177, 0.678)), url(../images/desing.jpg);
    background-image: -o-linear-gradient(top, rgba(181, 71, 185, 0.911), rgba(17, 20, 177, 0.678)), url(../images/desing.jpg);
    background-image: linear-gradient(to bottom, rgba(181, 71, 185, 0.911), rgba(17, 20, 177, 0.678)), url(../images/desing.jpg); }
  .services-planning {
    background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(181, 71, 185, 0.911)), to(rgba(10, 11, 54, 0.678))), url(../images/planning.jpg);
    background-image: -webkit-linear-gradient(bottom, rgba(181, 71, 185, 0.911), rgba(10, 11, 54, 0.678)), url(../images/planning.jpg);
    background-image: -o-linear-gradient(bottom, rgba(181, 71, 185, 0.911), rgba(10, 11, 54, 0.678)), url(../images/planning.jpg);
    background-image: linear-gradient(to top, rgba(181, 71, 185, 0.911), rgba(10, 11, 54, 0.678)), url(../images/planning.jpg); }

@media only screen and (min-width: 768px) {
  .features {
    padding: 0 10%; } }

.features__content {
  margin: 0;
  padding: 20px 10px;
  background-color: lightgray; }
  @media only screen and (min-width: 768px) {
    .features__content {
      -webkit-box-shadow: 0px -7px 143px -9px rgba(0, 0, 0, 0.48);
      box-shadow: 0px -7px 143px -9px rgba(0, 0, 0, 0.48); } }
  .features__content-items {
    padding: 20px 0; }
  .features__content-img {
    min-height: 360px;
    width: 100%;
    background-position: center center;
    background-size: contain;
    background-image: url(../images/phone.png);
    background-repeat: no-repeat; }
    .features__content-imgTwo {
      height: 285px;
      width: 162px;
      background-position: center center;
      background-size: cover;
      background-image: -webkit-gradient(linear, right top, left top, from(rgba(181, 71, 185, 0.705)), to(rgba(21, 24, 212, 0.219))), url(../images/bosque.jpg);
      background-image: -webkit-linear-gradient(right, rgba(181, 71, 185, 0.705), rgba(21, 24, 212, 0.219)), url(../images/bosque.jpg);
      background-image: -o-linear-gradient(right, rgba(181, 71, 185, 0.705), rgba(21, 24, 212, 0.219)), url(../images/bosque.jpg);
      background-image: linear-gradient(to left, rgba(181, 71, 185, 0.705), rgba(21, 24, 212, 0.219)), url(../images/bosque.jpg);
      background-repeat: no-repeat; }

@media only screen and (min-width: 768px) {
  .footer {
    padding: 0 10%;
    margin: 0; } }

.footer__content {
  height: 100vh;
  padding: 10px 20px;
  margin: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(101, 71, 185, 0.897)), to(rgba(10, 11, 54, 0.329))), url(../images/could.jpg);
  background-image: -webkit-linear-gradient(rgba(101, 71, 185, 0.897), rgba(10, 11, 54, 0.329)), url(../images/could.jpg);
  background-image: -o-linear-gradient(rgba(101, 71, 185, 0.897), rgba(10, 11, 54, 0.329)), url(../images/could.jpg);
  background-image: linear-gradient(rgba(101, 71, 185, 0.897), rgba(10, 11, 54, 0.329)), url(../images/could.jpg);
  background-position: center center;
  background-size: cover;
  color: #FFFFFF; }
  @media only screen and (min-width: 768px) {
    .footer__content {
      -webkit-box-shadow: 0px -7px 143px -9px rgba(0, 0, 0, 0.48);
      box-shadow: 0px -7px 143px -9px rgba(0, 0, 0, 0.48); } }
  @media only screen and (min-width: 1024px) {
    .footer__content {
      height: 50vh; } }
  .footer__content-info {
    padding: 20px 30px; }

.footer-social {
  padding: 10px 100px; }
  @media only screen and (min-width: 1024px) {
    .footer-social {
      padding: 10px 240px 10px 0; } }

.footer-form {
  padding: 10px 10px; }

.footer-bottom {
  margin: 0 !important;
  padding: 5px; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  font-family: 'Libre Baskerville', serif;
  overflow-x: hidden; }

.item__title {
  font-size: 1.2em;
  margin-bottom: 15px; }
  .item__title2 {
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 15px;
    color: #FFFFFF; }

.item__subtitle {
  font-size: 1em;
  margin: 5px; }

.item__subtitleTwo {
  display: inline-block;
  position: relative;
  font-size: 1em;
  padding: 15px 0 35px 0; }
  .item__subtitleTwo::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: currentColor;
    top: 35px; }

.item-content {
  font-size: 0.8em;
  color: #263238;
  margin-bottom: 15px; }

.item__button {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px 20px;
  background-color: transparent;
  border: 1px solid #37474f;
  font-size: .8em;
  color: #263238; }

.item-text {
  font-size: .7em;
  color: #FFFFFF;
  padding: 10px; }

.item__paragraph {
  font-size: .8em; }

.item__card-img {
  max-width: 100%;
  min-height: 200px;
  background-color: #FFFFFF;
  margin: 0 !important;
  padding: 35px 20px; }

.item__card-img-blog {
  min-height: 300px; }

.section__title {
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
  font-size: 1.2em;
  color: #263238; }
  .section__title::before, .section__title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    font-size: 1.2em;
    background-color: currentColor;
    top: 50%; }
  .section__title::after {
    right: 105%; }
  .section__title::before {
    left: 105%; }

button {
  border: 0; }

input {
  height: 35px; }

textarea, input {
  width: 100%;
  margin: 5px 0;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px; }
  textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
    color: #FFFFFF; }
  textarea:-ms-input-placeholder, input:-ms-input-placeholder {
    color: #FFFFFF; }
  textarea::-ms-input-placeholder, input::-ms-input-placeholder {
    color: #FFFFFF; }
  textarea::placeholder, input::placeholder {
    color: #FFFFFF; }

@media only screen and (min-width: 768px) {
  .section__title {
    font-size: 2em; } }

@media only screen and (min-width: 1024px) {
  .item__title {
    font-size: 2.8em;
    padding: 0 20px; }
  .item__subtitle {
    font-size: 1.25em; }
  .item__card-img {
    min-height: 209px; }
  .item-content {
    font-size: 0.95em; }
  .item__card-img-blog, .content {
    height: 150px;
    min-height: 50px;
    width: 150px; } }

.row {
  margin: 0; }
