@import url(./grid1.css);
@import url(./banner-desk.css);
@import url(./banner-black.css);
@import url(./services.css);
@import url(./features.css);
@import url(./footer.css);
.navbar {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(181, 71, 185, 0.705)), to(rgba(21, 24, 212, 0.219))), url(../images/bosque.jpg);
  background-image: -webkit-linear-gradient(right, rgba(181, 71, 185, 0.705), rgba(21, 24, 212, 0.219)), url(../images/bosque.jpg);
  background-image: -o-linear-gradient(right, rgba(181, 71, 185, 0.705), rgba(21, 24, 212, 0.219)), url(../images/bosque.jpg);
  background-image: linear-gradient(to left, rgba(181, 71, 185, 0.705), rgba(21, 24, 212, 0.219)), url(../images/bosque.jpg);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat; }
  .navbar-logo {
    position: relative;
    color: #FFFFFF;
    padding: 20px;
    border: 2px solid #FFFFFF;
    border-bottom: 0; }
    .navbar-logo__title {
      font-size: 4em;
      letter-spacing: 10px; }
    .navbar-logo__subtitle {
      position: relative;
      top: 29px;
      color: #FFFFFF; }
      .navbar-logo__subtitle::before, .navbar-logo__subtitle::after {
        content: '';
        position: absolute;
        width: 43px;
        height: 2px;
        background-color: currentColor;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
      .navbar-logo__subtitle::before {
        left: 150px; }
      .navbar-logo__subtitle::after {
        right: 150px; }
  .navbar-flecha {
    color: #FFFFFF;
    margin-bottom: 15px;
    cursor: pointer; }

@media only screen and (min-width: 768px) {
  .navbar {
    padding: 15% 9.2% 0 9.2% !important;
    line-height: 1;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); } }

.banner {
  margin: 0; }
  @media screen and (min-width: 768px) {
    .banner {
      padding: 0 10%; } }
  .banner-content {
    background-color: #FFFFFF;
    padding: 30px; }
    @media screen and (min-width: 768px) {
      .banner-content {
        -webkit-box-shadow: 0px -7px 143px -9px rgba(0, 0, 0, 0.48);
        box-shadow: 0px -7px 143px -9px rgba(0, 0, 0, 0.48); } }
    @media only screen and (min-width: 1024px) {
      .banner-content {
        height: 25vh; } }
  .banner__subtitle {
    display: inline-block;
    position: relative;
    font-size: .7em;
    margin-bottom: 15px;
    color: #263238; }
    .banner__subtitle::after, .banner__subtitle::before {
      content: '';
      position: absolute;
      width: 50px;
      height: 2px;
      background-color: currentColor;
      top: 0.6em; }
    .banner__subtitle::before {
      left: 130px; }
    .banner__subtitle::after {
      right: 130px; }
  .banner__button {
    margin: 15px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body, html {
  font-family: 'Libre Baskerville', serif;
  overflow-x: hidden; }

.item__title {
  font-size: 1.2em;
  margin-bottom: 15px; }
  .item__title2 {
    font-weight: 700;
    font-size: 1em;
    margin-bottom: 15px;
    color: #FFFFFF; }

.item__subtitle {
  font-size: 1em;
  margin: 5px; }

.item__subtitleTwo {
  display: inline-block;
  position: relative;
  font-size: 1em;
  padding: 15px 0 35px 0; }
  .item__subtitleTwo::before {
    content: '';
    position: absolute;
    width: 50px;
    height: 1px;
    background-color: currentColor;
    top: 35px; }

.item-content {
  font-size: 0.8em;
  color: #263238;
  margin-bottom: 15px; }

.item__button {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px 20px;
  background-color: transparent;
  border: 1px solid #37474f;
  font-size: .8em;
  color: #263238; }

.item-text {
  font-size: .7em;
  color: #FFFFFF;
  padding: 10px; }

.item__paragraph {
  font-size: .8em; }

.item__card-img {
  max-width: 100%;
  min-height: 200px;
  background-color: #FFFFFF;
  margin: 0 !important;
  padding: 35px 20px; }

.item__card-img-blog {
  min-height: 300px; }

.section__title {
  display: inline-block;
  position: relative;
  margin-bottom: 15px;
  font-size: 1.2em;
  color: #263238; }
  .section__title::before, .section__title::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    font-size: 1.2em;
    background-color: currentColor;
    top: 50%; }
  .section__title::after {
    right: 105%; }
  .section__title::before {
    left: 105%; }

button {
  border: 0; }

input {
  height: 35px; }

textarea, input {
  width: 100%;
  margin: 5px 0;
  color: #FFFFFF;
  border: 2px solid #FFFFFF;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 5px; }
  textarea::-webkit-input-placeholder, input::-webkit-input-placeholder {
    color: #FFFFFF; }
  textarea:-ms-input-placeholder, input:-ms-input-placeholder {
    color: #FFFFFF; }
  textarea::-ms-input-placeholder, input::-ms-input-placeholder {
    color: #FFFFFF; }
  textarea::placeholder, input::placeholder {
    color: #FFFFFF; }

@media only screen and (min-width: 768px) {
  .section__title {
    font-size: 2em; } }

@media only screen and (min-width: 1024px) {
  .item__title {
    font-size: 2.8em;
    padding: 0 20px; }
  .item__subtitle {
    font-size: 1.25em; }
  .item__card-img {
    min-height: 209px; }
  .item-content {
    font-size: 0.95em; }
  .item__card-img-blog, .content {
    height: 150px;
    min-height: 50px;
    width: 150px; } }

.row {
  margin: 0; }
